* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: grid;
    place-items: center;
    padding: 0 1rem;
    padding-bottom: 10rem;
    gap: 0.5rem;
}

h1 {
    margin: 1rem 0;
}

img {
    max-width: 25vw;
}

#commentWrapper {
    min-height: 50vh;
    width: 100%;
    border: solid 1px black;
}
